hidden = [".config"]
modules = ["nodejs-20", "web"]
run = "npx http-server -d week1"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "npx http-server -d week1"]

[[ports]]
localPort = 8080
externalPort = 80
